
/* Your CSS Code here. */
/* div{
    color: black;
    border: 2px solid black;
    width: 35px;
    margin-right: 2px;
}
div:hover{ */
    /* cursor: pointer;
} */
/* span{
    display: flex;
    
} */